.titlebar {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    height: 24px;
    background: #000000;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebarButton {
    cursor: pointer;
    padding: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: transparent;
    border: 0px;
}

.titlebarButton:hover {
    background: #676767;
}

.titlebarButtonIcon {
    border: 0px;
    outline: none;
    width: 12px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
